<h1>New Bookmark</h1>

<%= form_with(model: @bookmark, url: bookmarks_path, method: :post) do |form| %>
  <div>
    <%= form.label :comment %>
    <%= form.text_area :comment %>
  </div>

  <div>
    <%= form.label :movie_id %>
    <%= form.number_field :movie_id %>
  </div>

  <div>
    <%= form.label :list_id %>
    <%= form.number_field :list_id %>
  </div>

  <div>
    <%= form.submit 'Create Bookmark' %>
  </div>
<% end %>
